extends layout

block styles
  link(rel='stylesheet' href='/css/dashboard.css')

  style.
    /* tell the SVG path to be a thin blue line without any area fill */
    path {
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
    }
    
    .axis {
      shape-rendering: crispEdges;
    }

    .x.axis line {
      stroke: lightgrey;
    }

    .x.axis .minor {
      stroke-opacity: .5;
    }

    .x.axis path {
      display: none;
    }

    .y.axis line, .y.axis path {
      fill: none;
      stroke: #000;
    }

block content
  .container-fluid
    h1 #{device.common_name}
    p
      strong UUID Token : 
      | #{device.uuid_token}
    if isOwner
      p
        strong Client Secret : 
        | #{device.client_secret}

    h3 Maintainers
    ul
      for maintainer in maintainers
        - console.log(maintainer.id)
        - console.log(user.id)
        li
          | #{maintainer.full_name || maintainer.username}
          | #{maintainer.id === user.id ? ' (You)' : ''}
          | #{maintainer.isAdmin ? ' (Admin)' : '' }
          | #{maintainer.isOwner ? ' (Owner)' : ''}
          //-
            if !maintainer.isOwner
              if maintainer.isAdmin
                form.form-inline(role='form' action='/devices/#{device.uuid_token}/maintainers/#{}')
                  input(type='hidden' name='_csrf' value=token)
                  input.btn.btn-link(type='submit' value='Remove admin rights')
              else
                form.form-inline(role='form')
                  input(type='hidden' name='_csrf' value=token)
                  input(type='hidden' name='_method' value='put')
                  input(type='hidden' name='admin' value='true')
                  input.btn.btn-link(type='submit' value='Grant admin rights')
              form.form-inline(role='form')
                input.btn.btn-link(type='submit' value='Revoke access')

    if isAdmin
      form.form-inline(role='form' action='/devices/#{device.uuid_token}/maintainers' method='post')
        input(type='hidden' name='_csrf' value=token)
        .form-group
          label.sr-only(for='username') Username
          input.form-control(name='username' placeholder='Enter a username')
        .form-group
          input.btn.btn-primary(type='submit' value='Add maintainer')

    #graph

block scripts
  script(src='/components/d3/d3.js')

  script().
    window.dashboard = {
      uuid: "#{device.uuid_token}"
    };

  script(src='/js/dashboard.js')